<nav class="navbar navbar-expand-lg bg-primary  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home"
            style="color:  #ffffff;">Parking Space Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
                <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/"
                    style="color: #ffffff;"><i class="fa-solid fa-house"></i> Home</button>
            </ul>
        </div>
    </div>
</nav>


<div class="container text-center" >
    <h3>Details of Parked Vehicles</h3>
    <div class="row mt-5">
        <div class="col">
            
            <!-- table -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Start Time</th>
                        <th>Finish Time</th>
                        <th>Parking Zone</th>
                        <th>Plate Number</th>
                        <th>Phone Number</th>
                        <th>Vehicle Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>9pm</td>
                        <td>11pm</td>
                        <td>3</td>
                        <td>KL13BB33321</td>
                        <td>8963114752</td>
                        <td>Heavy</td>
                    </tr>
                </tbody>
            </table>
        </div>
