<app-header></app-header>

<section class="admin">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        
                  <form>
  
                    <div class="form-outline mb-4">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <span class="h4 fw-bold mb-0">Welcome User</span>
                          </div>

                        <div class="dropdown">
                            <span class="h6 fw-bold mb-0">Select Location For Parking</span>

                            <button class="btn btn-primary dropdown-toggle m-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              State
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Kerala</a></li>
                              <li><a class="dropdown-item" href="#">Karnataka</a></li>
                              <li><a class="dropdown-item" href="#">Tamilnadu</a></li>
                            </ul>

                            <button class="btn btn-primary dropdown-toggle m-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                District
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Thrissur</a></li>
                                <li><a class="dropdown-item" href="#">Ernakulam</a></li>
                                <li><a class="dropdown-item" href="#">Thiruvanathapuram</a></li>
                              </ul>

                              <button class="btn btn-primary dropdown-toggle m-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Location
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Viyyur</a></li>
                                <li><a class="dropdown-item" href="#">Edappally</a></li>
                                <li><a class="dropdown-item" href="#">Kochuveli</a></li>
                              </ul>
                          </div>
                    </div>

                    <div class="dropdown">
                        <span class="h6 fw-bold mb-0">Select Vehicle Type</span>

                        <button class="btn btn-primary dropdown-toggle m-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Type
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Two-Wheeler</a></li>
                          <li><a class="dropdown-item" href="#">Four-Wheeler</a></li>
                          <li><a class="dropdown-item" href="#">Heavy Vehicle</a></li>
                        </ul>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block text-light m-5" type="submit" routerLink="/layout">Search</button>

                    
                  </form>
  
                </div>
    </div>
  </section>
  <app-footer></app-footer>

