<nav class="navbar navbar-expand-lg bg-primary  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home"
            style="color:  #ffffff;">Parking Space Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
                <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/"
                    style="color: #ffffff;"><i class="fa-solid fa-house"></i> Home</button>
            </ul>
        </div>
    </div>
</nav>

<div>
    <h3 class="text-primary text-center my-5">Select Slot</h3>

    <div class="container">
        <div class="row">
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked">P1 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked">P2 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked" >P3 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked">P4 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked">P5 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" routerLink="/booked">P6 <i class="fa-solid fa-car"></i></button>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-2 m-4">
            <button class="btn btn-primary" routerLink="/booked">P7 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-4 ">
            <button class="btn btn-primary" routerLink="/booked">P8 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-4 ">
            <button class="btn btn-primary" routerLink="/booked">P9 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-4 ">
            <button class="btn btn-primary" routerLink="/booked">P10 <i class="fa-solid fa-car"></i></button>
          </div>
      </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-2 m-2 ">
            <button class="btn btn-primary" routerLink="/booked">P11 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-2 ">
            <button class="btn btn-primary" routerLink="/booked">P12 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-2 ">
            <button class="btn btn-primary" routerLink="/booked">P13 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-2 ">
            <button class="btn btn-primary" routerLink="/booked">P14 <i class="fa-solid fa-car"></i></button>
          </div>
          <div class="col-2 m-2 ">
            <button class="btn btn-primary" routerLink="/booked">P15 <i class="fa-solid fa-car"></i></button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-2 m-4 ">
              <button class="btn btn-primary" routerLink="/booked">P16 <i class="fa-solid fa-car"></i></button>
            </div>
            <div class="col-2 m-4 ">
              <button class="btn btn-primary" routerLink="/booked">P17 <i class="fa-solid fa-car"></i></button>
            </div>
            <div class="col-2 m-4 ">
              <button class="btn btn-primary" routerLink="/booked">P18 <i class="fa-solid fa-car"></i></button>
            </div>
            <div class="col-2 m-2 ">
              <button class="btn btn-primary" routerLink="/booked">P19 <i class="fa-solid fa-car"></i></button>
            </div>
            <div class="col-2 m-2 ">
              <button class="btn btn-primary" routerLink="/booked">P20 <i class="fa-solid fa-car"></i></button>
            </div>
          </div>
        </div>

    <app-footer></app-footer>