<app-header></app-header>


<!-- main content -->
<div class="container mt-4 p-4">
    <div class="row">
        <div class="col-6">
            <!-- image -->
            <img width="100%" height="400px"
                src="https://thumbs.dreamstime.com/b/lonely-car-parking-standing-alone-empty-parking-spot-city-lonely-car-parking-standing-alone-empty-parking-lot-area-168881172.jpg"
                alt="">

        </div>
        <div class="col-6 mt-4">
            <!-- heading and texts -->
            <h1>Welcome To Parking Space Finder App </h1>
            <p style="text-align: justify;"> In urban areas, finding parking spaces can often be a frustrating and time-consuming task,
            leading to increased congestion, wasted fuel, and heightened stress levels among drivers.The Parking Space Finder project seeks to alleviate these challenges by providing a comprehensive
            solution that enables users to easily locate available parking spaces in real-time through a mobile application.
        </div>
    </div>
</div>



<app-footer></app-footer>







